*{
    padding: 0%;
    margin: 0%;
}

#myCanvas{
    margin-left: 400px;
}

div{
    margin-left: 650px;
    font-size: 25px;
}
#score{
    margin-left: 30px;
}

button{
    margin-left:650px ;
    font-size: 25px;
    background-color: green;
    color: white;
}